{% extends 'base.html' %}

{% block content %}
<h1>Build a Blog</h1>
{% if Blog|length == 0 %}
    <p>No blogs yet</p>
    {% else %}

        <ul>
            {% for blog in Blog %}
            <li>{{blog.title}}
                <form method="POST" action="blog" style="display:inline-block;">
                    <input type="hidden" name="blog-id" value="{{blog.id}}" />
                </form>
            </li>
            {% endfor %}
        </ul>

    {% endif %}

    <hr />


{% endblock %}
