{% extends 'base.html' %}
 {% block content %}

    <h1><div>Add a blog Entry</div></h1>

    <form action="/newpost" method="POST">
    
        <lable> Title for your new blog:</lable>
          <br>
             <input type="text" name="blog_title" value="{{blog_title}}"/>
             <p class='error'>{{title_error }}</p>
            
             <lable> Your new Blog:</lable>
         <br>
            <textarea name="blog_body" value="{{blog_body}}"></textarea>
            <p class='error'>{{ body_error }}</p>
        <br>   
        <input type="submit" value="Add Entry"/>
        
  </form>

 {% endblock %}
