{% extends "base.html" %}

{% block content %}

<h1>Signup</h1>
<form action="/signup" method="post">
    <table>
        <tr>
            <td><h2><label for="username">Username</label></h2></td>
            <td>
                <input name="username" type="text" value="{{ username }}">
                 <span class="error"></span>
            </td>
        </tr>
        <tr>
            <td><h2><label for="password">Password</label></h2></td>
            <td>
                <input name="password" type="password">
                <span class="error"></span>
            </td>
        </tr>
        <tr>
            <td><h2><label for="verify">Verify Password</label></h2></td>
            <td>
                <input name="v_pwd" type="password" >
                <span class="error"></span>
            </td>
        </tr>
    </table>
    <input type="submit" value="Signup">
  
</form>
{% endblock %}